/*.fgb
/*.geojson
/*.geojson.zst
/*.geojsons
/*.geojsons.gz
/*.geojsons.zst
/*.gpkg
/*.gpkg*
/*.mbtiles
/*.mbtiles-journal
/*.osm.pbf
/*.pgw
/*.pmtiles
/*.pmtiles-journal
/*.png
/*.qgz
/blog-posts/*
/target
/water

/cachegrind.*
/callgrind.*
/dhat.out.*
/heaptrack.*
/perf.*
/stats
/*.prom
/*.csv
flamegraph.svg
/profile.json
