/*.geojson
/*.geojsons
/*.gpkg
/*.mbtiles
/*.osm.pbf
/*.pmtiles
/*.pmtiles-journal
/*.qgz
/blog-posts/*
/target
/water

/cachegrind.*
/callgrind.*
/dhat.out.*
/heaptrack.*
/perf.*
/stats
/*.prom
/*.csv
